{% extends "tutor/tutor.html" %}

{% block titulo_sessao %}Tutorias Marcadas{% endblock %}
{% block content %}

<div class="space-y-4">
    {% for sessao in sessoes %}
    <div class="bg-white p-4 rounded-xl shadow border-l-4 border-blue-900 flex justify-between items-center">
        <div>
            <p class="font-bold text-lg">
                {% if sessao.alunos %}
                    Aluno: {{ sessao.alunos[0].nome }}
                {% else %}
                    Sessão Aberta / Professor
                {% endif %}
            </p>
            <p class="text-gray-600">Data: {{ sessao.horario_inicio }}</p>
            <p class="text-sm italic">"{{ sessao.descricao }}"</p>
        </div>
        <button class="bg-green-600 text-white px-4 py-2 rounded-lg">Atender</button>
    </div>
    {% else %}
    <p>Nenhuma tutoria marcada no momento.</p>
    {% endfor %}
</div>
{% endblock %}

</body>
</html>
