<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    <script src="https://cdn.tailwindcss.com"></script>

    <title>{% block title %}Tutor - Home | SICAT{% endblock %}</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

        body {
            font-family: 'Inter', sans-serif;
            background-color: #f4f7f9;
        }
    </style>

    {% block css %}{% endblock %}
</head>
<body>

<!-- NAVBAR SUPERIOR -->
<header class="bg-[#0a3ea8] text-white shadow-md gradient-blue">
    <div class="max-w-7xl mx-auto flex items-center justify-between h-16 px-6">

        <!-- Logo -->
        <div class="flex items-center gap-2">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" class="h-8" alt="SICAT">
        </div>

        <!-- Menu -->
        <nav class="flex items-center gap-6 text-sm font-medium">
            {% block nav %} {% endblock %} 
        </nav>
        <!-- Usuário -->
        <div class="flex items-center gap-2">
            <a href="/tutor/perfil"><img class="w-8 h-8 rounded-full bg-gray-300" alt=""></a>
            <span class="text-sm font-semibold">
                {% block user %}{% endblock %} {{current_user.nome}}
            </span>
        </div>
    </div>
</header>


<!-- CONTEÚDO PRINCIPAL -->
<main class="max-w-7xl mx-auto px-6 py-8">

    <!-- TÍTULO DA SESSÃO -->
<h1 class="titulo-sessao">
    {% block titulo_sessao %}{% endblock %}
</h1>


    {% block content %}{% endblock %}

</main>

</body>
</html>
