<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="user">USUÁRIO</label>
        <input type="text" id="user">
        <label for="pin">SENHA</label>
        <input type="text" id="pin">
        <button type="submit" class="botao">Acessar sistema</button>
        <div><span>Esqueceu a senha?</span><span class="separador"></span><span>Criar uma conta</span></div>
    </form>
</body>
</html>